# 1. CREAR BASE DE DATOS

In [41]:
import mysql.connector as con
import random
import pandas as pd
from datetime import datetime, timedelta

# Conexión al servidor MySQL
connection = con.connect(
    host="localhost",
    port=3306,
    user="root",
    password="admin"  
)
print("Conexión a MySQL correcta.")

cursor = connection.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS supermercado;")
cursor.execute("USE supermercado;")


cursor.execute("""
CREATE TABLE IF NOT EXISTS tiendas (
    id_tienda INT AUTO_INCREMENT PRIMARY KEY,
    nombre_tienda VARCHAR(100),
    direccion VARCHAR(255),
    ciudad VARCHAR(100)
);
""")
cursor.execute("""
CREATE TABLE IF NOT EXISTS empleados (
    id_empleado INT AUTO_INCREMENT PRIMARY KEY,
    nombre_empleado VARCHAR(100),
    puesto VARCHAR(50),
    id_tienda INT,
    FOREIGN KEY (id_tienda) REFERENCES tiendas(id_tienda)
);
""")
cursor.execute("""
CREATE TABLE IF NOT EXISTS categorias (
    id_categoria INT AUTO_INCREMENT PRIMARY KEY,
    nombre_categoria VARCHAR(50)
);
""")
cursor.execute("""
CREATE TABLE IF NOT EXISTS productos (
    id_producto INT AUTO_INCREMENT PRIMARY KEY,
    nombre_producto VARCHAR(100),
    precio FLOAT(8,2),
    stock INT,
    id_categoria INT,
    FOREIGN KEY (id_categoria) REFERENCES categorias(id_categoria)
);
""")
cursor.execute("""
CREATE TABLE IF NOT EXISTS clientes (
    id_cliente INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    email VARCHAR(100),
    codigo_postal VARCHAR(20)
);
""")
cursor.execute("""
CREATE TABLE IF NOT EXISTS ordenes (
    id_orden INT AUTO_INCREMENT PRIMARY KEY,
    id_cliente INT,
    id_empleado INT,
    fecha_orden DATETIME,
    metodo_pago ENUM('Tarjeta', 'Efectivo'),
    FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente),
    FOREIGN KEY (id_empleado) REFERENCES empleados(id_empleado)
);
""")
cursor.execute("""
CREATE TABLE IF NOT EXISTS detalle_orden (
    id_detalle INT AUTO_INCREMENT PRIMARY KEY,
    id_orden INT NOT NULL,
    id_producto INT NOT NULL,
    cantidad INT,
    precio_unitario FLOAT(8,2),
    descuento FLOAT(5,2) DEFAULT NULL,
    FOREIGN KEY (id_orden) REFERENCES ordenes(id_orden),
    FOREIGN KEY (id_producto) REFERENCES productos(id_producto)
);
""")

print("Tablas creadas correctamente.")

Conexión a MySQL correcta.
Tablas creadas correctamente.

# 2. Generar datos demo desde Python

In [42]:
# Tiendas
for i in range(10):
    nombre_tienda = f"Tienda_{i+1}"
    direccion = f"Calle {random.randint(1, 100)}"
    ciudad = random.choice(["Madrid", "Barcelona", "Bilbao", "Sevilla", "Valencia"])
    cursor.execute(f"INSERT INTO tiendas (nombre_tienda, direccion, ciudad) VALUES ('{nombre_tienda}', '{direccion}', '{ciudad}');")

# Categorías
categorias = ["Lácteos", "Carnes", "Frutas", "Verduras", "Bebidas", "Snacks", "Panadería", "Congelados", "Higiene", "Limpieza"]
for categoria in categorias:
    cursor.execute(f"INSERT INTO categorias (nombre_categoria) VALUES ('{categoria}');")

# Productos
for _ in range(100):
    nombre_producto = f"Producto_{random.randint(1, 1000)}"
    precio = round(random.uniform(1, 100), 2)
    stock = random.randint(0, 500)
    id_categoria = random.randint(1, len(categorias))
    cursor.execute(f"INSERT INTO productos (nombre_producto, precio, stock, id_categoria) VALUES ('{nombre_producto}', {precio}, {stock}, {id_categoria});")

# Clientes
for _ in range(50):
    first_name = random.choice(["Carlos", "Laura", "Pedro", "Ana", "Luis"])
    last_name = random.choice(["López", "González", "Pérez", "Fernández", "Martínez"])
    email = f"{first_name.lower()}.{last_name.lower()}@example.com"
    codigo_postal = f"{random.randint(10000, 99999)}"
    cursor.execute(f"INSERT INTO clientes (first_name, last_name, email, codigo_postal) VALUES ('{first_name}', '{last_name}', '{email}', '{codigo_postal}');")

# Empleados
for _ in range(20):
    nombre_empleado = random.choice(["Juan", "María", "Carlos", "Sofía", "Miguel"])
    puesto = random.choice(["Cajero", "Gerente", "Reponedor"])
    id_tienda = random.randint(1, 10)
    cursor.execute(f"INSERT INTO empleados (nombre_empleado, puesto, id_tienda) VALUES ('{nombre_empleado}', '{puesto}', {id_tienda});")

# Órdenes
for _ in range(200):
    id_cliente = random.randint(1, 50)
    id_empleado = random.randint(1, 20)
    fecha_orden = datetime.now() - timedelta(days=random.randint(0, 365))
    metodo_pago = random.choice(["Tarjeta", "Efectivo"])
    cursor.execute(f"INSERT INTO ordenes (id_cliente, id_empleado, fecha_orden, metodo_pago) VALUES ({id_cliente}, {id_empleado}, '{fecha_orden}', '{metodo_pago}');")

# Detalle de órdenes
for _ in range(500):
    id_orden = random.randint(1, 200)
    id_producto = random.randint(1, 100)
    cantidad = random.randint(1, 10)
    precio_unitario = round(random.uniform(1, 100), 2)
    descuento = round(random.uniform(0, 5), 2) if random.random() < 0.3 else None
    cursor.execute(f"INSERT INTO detalle_orden (id_orden, id_producto, cantidad, precio_unitario, descuento) VALUES ({id_orden}, {id_producto}, {cantidad}, {precio_unitario}, {descuento if descuento is not None else 'NULL'});")

print("Datos generados e insertados correctamente.")

connection.commit()

cursor.close()
connection.close()

Datos generados e insertados correctamente.

In [43]:
from sqlalchemy import create_engine

engine = create_engine("mysql+mysqlconnector://root:admin@localhost/supermercado", echo=True)

df_tiendas = pd.read_sql('SELECT * FROM tiendas', con=engine)
df_empleados = pd.read_sql('SELECT * FROM empleados', con=engine)
df_categorias = pd.read_sql('SELECT * FROM categorias', con=engine)
df_productos = pd.read_sql('SELECT * FROM productos', con=engine)
df_clientes = pd.read_sql('SELECT * FROM clientes', con=engine)
df_ordenes = pd.read_sql('SELECT * FROM ordenes', con=engine)
df_detalle_orden = pd.read_sql('SELECT * FROM detalle_orden', con=engine)

2025-01-26 23:34:10,134 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-01-26 23:34:10,136 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,141 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-01-26 23:34:10,146 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,161 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-01-26 23:34:10,163 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,166 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 23:34:10,167 INFO sqlalchemy.engine.Engine DESCRIBE `supermercado`.`SELECT * FROM tiendas`
2025-01-26 23:34:10,168 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,175 INFO sqlalchemy.engine.Engine SELECT * FROM tiendas
2025-01-26 23:34:10,177 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,183 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 23:34:10,186 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 23:34:10,188 INFO sqlalchemy.engine.Engine DESCRIBE `supermercado`.`SELECT * FROM empleados`
2025-01-26 23:34:10,189 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,192 INFO sqlalchemy.engine.Engine SELECT * FROM empleados
2025-01-26 23:34:10,194 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,199 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 23:34:10,202 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 23:34:10,203 INFO sqlalchemy.engine.Engine DESCRIBE `supermercado`.`SELECT * FROM categorias`
2025-01-26 23:34:10,205 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,208 INFO sqlalchemy.engine.Engine SELECT * FROM categorias
2025-01-26 23:34:10,210 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,227 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 23:34:10,235 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 23:34:10,240 INFO sqlalchemy.engine.Engine DESCRIBE `supermercado`.`SELECT * FROM productos`
2025-01-26 23:34:10,242 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,245 INFO sqlalchemy.engine.Engine SELECT * FROM productos
2025-01-26 23:34:10,247 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,255 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 23:34:10,258 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 23:34:10,259 INFO sqlalchemy.engine.Engine DESCRIBE `supermercado`.`SELECT * FROM clientes`
2025-01-26 23:34:10,260 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,263 INFO sqlalchemy.engine.Engine SELECT * FROM clientes
2025-01-26 23:34:10,264 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,272 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 23:34:10,275 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 23:34:10,276 INFO sqlalchemy.engine.Engine DESCRIBE `supermercado`.`SELECT * FROM ordenes`
2025-01-26 23:34:10,277 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,281 INFO sqlalchemy.engine.Engine SELECT * FROM ordenes
2025-01-26 23:34:10,283 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,298 INFO sqlalchemy.engine.Engine ROLLBACK
2025-01-26 23:34:10,301 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-26 23:34:10,302 INFO sqlalchemy.engine.Engine DESCRIBE `supermercado`.`SELECT * FROM detalle_orden`
2025-01-26 23:34:10,304 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,306 INFO sqlalchemy.engine.Engine SELECT * FROM detalle_orden
2025-01-26 23:34:10,307 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-26 23:34:10,328 INFO sqlalchemy.engine.Engine ROLLBACK

In [44]:

print("Tiendas:")
print(df_tiendas.head())

Tiendas:
   id_tienda nombre_tienda direccion     ciudad
0          1      Tienda_1  Calle 53  Barcelona
1          2      Tienda_2  Calle 90  Barcelona
2          3      Tienda_3  Calle 14   Valencia
3          4      Tienda_4   Calle 1  Barcelona
4          5      Tienda_5  Calle 85     Bilbao

In [45]:

print("\nEmpleados:")
print(df_empleados.head())

Empleados:
   id_empleado nombre_empleado     puesto  id_tienda
0            1           Sofía    Gerente         10
1            2          Carlos    Gerente          2
2            3          Miguel  Reponedor          7
3            4          Miguel    Gerente          5
4            5           María  Reponedor          5

In [46]:

print("\nCategorías:")
print(df_categorias.head())

Categorías:
   id_categoria nombre_categoria
0             1          Lácteos
1             2           Carnes
2             3           Frutas
3             4         Verduras
4             5          Bebidas

In [47]:

print("\nProductos:")
print(df_productos.head())

Productos:
   id_producto nombre_producto  precio  stock  id_categoria
0            1    Producto_724    8.12     62            10
1            2    Producto_761   76.15    339             1
2            3    Producto_157   41.83     82             3
3            4    Producto_863   37.06    422             3
4            5    Producto_439   71.95    297             6

In [48]:

print("\nClientes:")
print(df_clientes.head())

Clientes:
   id_cliente first_name  last_name                       email codigo_postal
0           1       Luis   González   luis.gonzález@example.com         20720
1           2       Luis  Fernández  luis.fernández@example.com         24746
2           3      Pedro   González  pedro.gonzález@example.com         35056
3           4      Laura   Martínez  laura.martínez@example.com         28219
4           5      Pedro   Martínez  pedro.martínez@example.com         67090

In [49]:

print("\nÓrdenes:")
print(df_ordenes.head())

Órdenes:
   id_orden  id_cliente  id_empleado         fecha_orden metodo_pago
0         1          32            7 2024-12-21 23:21:24    Efectivo
1         2           2           15 2024-03-18 23:21:24     Tarjeta
2         3          14           11 2024-05-25 23:21:24    Efectivo
3         4          44            1 2024-05-05 23:21:24    Efectivo
4         5          13           18 2024-01-31 23:21:24    Efectivo

In [50]:

print("\nDetalle de Órdenes:")
print(df_detalle_orden.head())

Detalle de Órdenes:
   id_detalle  id_orden  id_producto  cantidad  precio_unitario  descuento
0           1        13           78         7            45.23       1.54
1           2       182           78         1            20.85        NaN
2           3       166           34         1            86.85        NaN
3           4       147           14        10            73.61        NaN
4           5       164           95         6            11.56        NaN

# 3. Consultas SQL

In [51]:
# 1. Listado de órdenes con detalles de cliente y empleado
"""
SELECT 
    ordenes.id_orden,
    ordenes.fecha_orden,
    clientes.first_name,
    empleados.nombre_empleado,
    ordenes.metodo_pago
FROM 
    ordenes
JOIN 
    clientes ON ordenes.id_cliente = clientes.id_cliente
JOIN 
    empleados ON ordenes.id_empleado = empleados.id_empleado;
"""

# 2. Productos con stock bajo
"""
SELECT 
    productos.nombre_producto,
    categorias.nombre_categoria,
    productos.stock
FROM 
    productos
JOIN 
    categorias ON productos.id_categoria = categorias.id_categoria
WHERE 
    productos.stock < 10;
"""

# 3. Ventas totales por categoría
"""
SELECT 
    categorias.nombre_categoria,
    SUM(detalle_orden.cantidad * detalle_orden.precio_unitario) AS ventas_totales
FROM 
    detalle_orden
JOIN 
    productos ON detalle_orden.id_producto = productos.id_producto
JOIN 
    categorias ON productos.id_categoria = categorias.id_categoria
GROUP BY 
    categorias.nombre_categoria;
"""

# 4. Clientes con mayores gastos acumulados
"""
SELECT 
    clientes.first_name,
    SUM(detalle_orden.cantidad * detalle_orden.precio_unitario - IFNULL(detalle_orden.descuento, 0)) AS total_gastado
FROM 
    detalle_orden
JOIN 
    ordenes ON detalle_orden.id_orden = ordenes.id_orden
JOIN 
    clientes ON ordenes.id_cliente = clientes.id_cliente
GROUP BY 
    clientes.first_name
ORDER BY 
    total_gastado DESC;
"""

# 5. Empleados y número de órdenes gestionadas
"""
SELECT 
    empleados.nombre_empleado,
    empleados.puesto,
    COUNT(ordenes.id_orden) AS numero_ordenes
FROM 
    empleados
JOIN 
    ordenes ON empleados.id_empleado = ordenes.id_empleado
GROUP BY 
    empleados.nombre_empleado, empleados.puesto;
"""

# 6. Órdenes filtradas por fecha y tienda
"""
SELECT 
    ordenes.id_orden,
    ordenes.fecha_orden,
    tiendas.nombre_tienda,
    clientes.first_name
FROM 
    ordenes
JOIN 
    clientes ON ordenes.id_cliente = clientes.id_cliente
JOIN 
    empleados ON ordenes.id_empleado = empleados.id_empleado
JOIN 
    tiendas ON empleados.id_tienda = tiendas.id_tienda
WHERE 
    ordenes.fecha_orden BETWEEN '2025-01-01' AND '2025-01-31'
    AND tiendas.id_tienda = 1; 
"""

'\nSELECT \n    tiendas.nombre_tienda,\n    productos.nombre_producto,\n    SUM(detalle_orden.cantidad) AS cantidad_vendida\nFROM \n    detalle_orden\nJOIN \n    ordenes ON detalle_orden.id_orden = ordenes.id_orden\nJOIN \n    empleados ON ordenes.id_empleado = empleados.id_empleado\nJOIN \n    tiendas ON empleados.id_tienda = tiendas.id_tienda\nJOIN \n    productos ON detalle_orden.id_producto = productos.id_producto\nGROUP BY \n    tiendas.nombre_tienda, productos.nombre_producto\nORDER BY \n    tiendas.nombre_tienda, cantidad_vendida DESC\nLIMIT 3;\n'

1. Listado de órdenes con detalles de cliente y empleado
SELECT 
    o.id_orden,
    o.fecha_orden,
    c.nombre_cliente,
    e.nombre_empleado,
    o.metodo_pago
FROM 
    ordenes o
JOIN 
    clientes c ON o.id_cliente = c.id_cliente
JOIN 
    empleados e ON o.id_empleado = e.id_empleado;

 2. Productos con stock bajo
SELECT 
    p.nombre_producto,
    c.nombre_categoria,
    p.stock
FROM 
    productos p
JOIN 
    categorias c ON p.id_categoria = c.id_categoria
WHERE 
    p.stock < 10;

3. Ventas totales por categoría
SELECT 
    c.nombre_categoria,
    SUM(d.cantidad * d.precio_unitario) AS total_ventas
FROM 
    detalle_orden d
JOIN 
    productos p ON d.id_producto = p.id_producto
JOIN 
    categorias c ON p.id_categoria = c.id_categoria
GROUP BY 
    c.nombre_categoria;

4. Clientes con mayores gastos acumulados
SELECT 
    c.nombre_cliente,
    SUM((d.cantidad * d.precio_unitario) - COALESCE(d.descuento, 0)) AS gasto_total
FROM 
    clientes c
JOIN 
    ordenes o ON c.id_cliente = o.id_cliente
JOIN 
    detalle_orden d ON o.id_orden = d.id_orden
GROUP BY 
    c.nombre_cliente
ORDER BY 
    gasto_total DESC;

5. Empleados y número de órdenes gestionadas
SELECT 
    e.nombre_empleado,
    e.puesto,
    COUNT(o.id_orden) AS total_ordenes
FROM 
    empleados e
JOIN 
    ordenes o ON e.id_empleado = o.id_empleado
GROUP BY 
    e.id_empleado, e.nombre_empleado, e.puesto;

6. Órdenes filtradas por fecha y tienda
SELECT 
    o.id_orden,
    o.fecha_orden,
    t.nombre_tienda,
    c.nombre_cliente
FROM 
    ordenes o
JOIN 
    empleados e ON o.id_empleado = e.id_empleado
JOIN 
    tiendas t ON e.id_tienda = t.id_tienda
JOIN 
    clientes c ON o.id_cliente = c.id_cliente
WHERE 
    o.fecha_orden BETWEEN '2025-01-01' AND '2025-01-31'
    AND t.id_tienda = 1; 

7. Ranking de productos más vendidos en cada tienda
SELECT 
    t.nombre_tienda,
    p.nombre_producto,
    SUM(d.cantidad) AS total_vendido
FROM 
    tiendas t
JOIN 
    empleados e ON t.id_tienda = e.id_tienda
JOIN 
    ordenes o ON e.id_empleado = o.id_empleado
JOIN 
    detalle_orden d ON o.id_orden = d.id_orden
JOIN 
    productos p ON d.id_producto = p.id_producto
GROUP BY 
    t.nombre_tienda, p.id_producto, p.nombre_producto
ORDER BY 
    t.nombre_tienda, total_vendido DESC
LIMIT 3;